body {
    display: flex;
    justify-content: center;
}

#calc {
    height: 625px;
    width: 400px;
    border: 2px black solid;
    padding: 15px;
    font-family: "Courier New", monospace;
    background-color: rgb(98, 104, 128);
    border-radius: 20px;
}

#display {
    border: 1px black solid;
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px 20px;
    word-wrap: break-word;
    word-break: break-all;
    font-weight: bold;
    background-color: white;
    word-wrap: break-word;
    word-break: break-all;
}

#display .previous-operand {
    color: rgb(81, 87, 109, 0.75);
    font-size: 1.5rem;
}

#display .current-operand {
    color: rgb(81, 87, 109);
    font-size: 2.5rem;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.digit {
    width: 100px;
    height: 100px;
    font-family: "Courier New", monospace;
    font-size: 20px;
    font-weight: bold;
    border-color: grey;
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}

.digit:hover {
    background-color: rgb(153, 209, 219, 0.75);
}

.digit:hover {
    background-color: rgb(153, 209, 219, 0.75);
    cursor: pointer;
}

.span-two {
    width: 200px;
}

.top {
    background-color: rgb(81, 87, 109);
}

.right {
    background-color: rgb(140, 170, 238);
}
